
<div class="layout">

    <div class="form">
        <h2>{{title}}</h2>

        <form>
            <div>{{{inputLogin}}}</div>
            <div>{{{inputMail}}}</div>
            <div>{{{inputName}}}</div>
            <div>{{{inputSurname}}}</div>
            <div>{{{inputPassword}}}</div>
            <div class="wrong">{{{inputWrong}}}</div>
        </form>
        <div>{{{btn}}}</div>

    </div>
</div>
