
<div class="layout">

    <div class="form">

        <div class="photo">
            <img src="https://i.pinimg.com/736x/2c/c0/dc/2cc0dc75df0eaa79addcb669f3a523fb.jpg" alt="img"/>
        </div>

        <div class="info">
            <div class="dot">
                <div></div>
                <p>Name</p>
            </div>
            <p>Login</p>
        </div>

        <form>

            <div class="input">{{{inputName}}}</div> <br/>
            <div class="input">{{{inputMail}}}</div> <br/>
            <div class="input">{{{inputLogin}}}</div> <br/>
            <div class="input">{{{inputTel}}}</div> <br/>
            <div class="input">{{{inputPassword}}}</div> <br/>

            <div class="links">
                <a>Cancel</a>
                <a>Save changes</a>

            </div>

        </form>




    </div>
</div>
